@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700&family=Playfair+Display:wght@400;700&display=swap');

body {
    background-color: #f1f2f5;

    margin: 0;
    margin-top: 80px;

    font-family: 'Montserrat', sans-serif;
}

button {
    font-family: 'Montserrat', sans-serif;
}
